<!DOCTYPE html>
<html lang="pt-BR">
{% include "parciais/head.html" %}
{% include "parciais/cabecalho.html" %}



<body>
  {% include "parciais/buscador.html " %}
  <main class="principal-conteudo-container">
    <div class="principal-conteudo-lista">
      <div class="receita-card">
        <img src="https://placehold.co/1280x720" alt="">
      </div>
      <h2 class="receita-titulo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa dicta sint temporibus
        consequatur aperiam deserunt sit a cum! Sequi corporis maxime minus labore doloribus molestias officiis voluptas
        tempora amet quo.</h2>
      <div class="receitas-autor">
        <span class="receitas-autor-item">
          <i class="fas fa-user"></i>
          Por: Pedro Antonio Cruz Lanaro
        </span>
        <span class="receitas-autor-item">
          <i class="fas fa-calendar"></i>
          Publicado em 28/11/2025
        </span>
        <span class="receitas-autor-item">
          <i class="fas fa-layer-group"></i>
          Categoria:Sobremesa
        </span>
        <div class="receita-descricao">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, sed! Et, quia quidem? Maiores molestiae
            consequatur, repudiandae eveniet modi blanditiis quisquam illum neque iste, repellat maxime, sint atque
            quam. Vero.</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>